@charset "UTF-8";

/* 초기화 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  word-break: keep-all;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family : Pretendard, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
  color: #424242;
  line-height: 1.5;
}
ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  border: 0;
  font-size: 0;
  max-width: 100%;
  vertical-align: middle;
}
input, button {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  color: #424242;
}
input[type="submit"], button {
  cursor: pointer
}
table, tr, td {
  border-collapse: collapse;
}
p {
  word-break: keep-all;
}
select::-ms-expand {
  display: none;
}